<!DOCTYPE html>
<html>

<head>
<title>Admin Panel</title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
<img src="{{url_for('static',filename='logo.jpeg')}}" class="logo">

<div class="container">

<h1>Admin Panel</h1>

<h2>All Complaints</h2>

<table>

<tr>
<th>iD</th>
<th>name</th>
<th>room</th>
<th>complaint</th>
<th>status</th>
</tr>

{% for row in data %}
<tr>
    <td>{{row[0] }}</td>
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
    <td>{{row[6]}}</td>
    <td>{{row[8]}}</td>
<td>
  {% if row[8] == 'pending' %}
    pending
  {% else %}
    Resolved
  {% endif %}
</td>

</tr>
{% endfor %}
</table>
    
</table>

</div>

</body>

</html>
